# 넷플릭스 EDA

In [1]:
import pandas as pd
import numpy as np

# 경고 무시
import warnings
warnings.filterwarnings('ignore')

# 시각화 라이브러리
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc("font", family="AppleGothic") # 경로 설정

# 테스트
# plt.plot([1, 2, 3])
# plt.title("한글")
# plt.show()

In [4]:
df = pd.read_csv('../data/all-weeks-countries.csv', encoding='latin1')

In [5]:
df

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2023-11-19,Films,1,The Killer,NaN,2
1,Argentina,AR,2023-11-19,Films,2,Mam? se fue de viaje,NaN,2
2,Argentina,AR,2023-11-19,Films,3,Monster Hunter,NaN,1
3,Argentina,AR,2023-11-19,Films,4,F9: The Fast Saga,NaN,2
4,Argentina,AR,2023-11-19,Films,5,Best. Christmas. Ever!,NaN,1
...,...,...,...,...,...,...,...,...
233195,Vietnam,VN,2021-07-04,TV,6,Reply 1988,Reply 1988: Season 1,1
233196,Vietnam,VN,2021-07-04,TV,7,"Nevertheless,","Nevertheless,: Season 1",1
233197,Vietnam,VN,2021-07-04,TV,8,Too Hot to Handle,Too Hot to Handle: Season 2,1
233198,Vietnam,VN,2021-07-04,TV,9,Record of Ragnarok,Record of Ragnarok: Season 1,1
233199,Vietnam,VN,2021-07-04,TV,10,Crash Landing on You,Crash Landing on You: Season 1,1