## 일일 박스오피스 데이터 & 영화정보 merge

- 응답구조
    - boxofficeType :문자열	박스오피스 종류
    - showRange : 	문자열	박스오피스 조회 일자를 출력
    - rnum	문자열	순번을 출력
    - rank	문자열	해당일자의 박스오피스 순위를 출력
    - rankInten	문자열	전일대비 순위의 증감분을 출력
    - rankOldAndNew	문자열	랭킹에 신규진입여부를 출력
    - “OLD” : 기존 , “NEW” : 신규
    - movieCd: 문자열	영화의 대표코드를 출력
    - movieNm : 문자열	영화명(국문)을 출력
    - openDt : 문자열	영화의 개봉일을 출력
    - salesAmt : 문자열	해당일의 매출액을 출력
    - salesShare : 문자열	해당일자 상영작의 매출총액 대비 해당 영화의 매출비율을 출력
    - salesInten : 문자열	전일 대비 매출액 증감분을 출력
    - salesChange : 문자열	전일 대비 매출액 증감 비율을 출력
    - salesAcc : 문자열	누적매출액을 출력
    - audiCnt : 문자열	해당일의 관객수를 출력
    - audiInten : 문자열	전일 대비 관객수 증감분을 출력
    - audiChange : 문자열	전일 대비 관객수 증감 비율을 출력
    - audiAcc : 문자열	누적관객수를 출력합니다.
    - scrnCnt : 문자열	해당일자에 상영한 스크린수를 출력
    - showCnt : 문자열	해당일자에 상영된 횟수를 출력

In [7]:
import pandas as pd
import numpy as np
import time

df = pd.read_csv('../data/boxoffice_20_23.csv')
data = pd.read_csv('../data/boxoffice_15_19.csv')

In [8]:
concat_df = pd.concat([df,data], axis = 0)

In [9]:
df = concat_df.copy()

In [10]:
movie_codes = df['movieCd'].drop_duplicates().tolist()

### 영화 상세정보 크롤링

In [118]:
# import requests
# import pandas as pd

# key = 'b713496d3bb846528153ba2985029132'
# movieCd = 20182530
# url = f'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key={key}&movieCd={movieCd}'
# response = requests.get(url)
# r_data = response.json()

In [5]:
import requests
import pandas as pd

key = 'b713496d3bb846528153ba2985029132'
movie_codes = df['movieCd'].drop_duplicates().tolist()[0:2]

info_dfs = []

for movieCd in movie_codes:
    url = f'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key={key}&movieCd={movieCd}'
    response = requests.get(url)
    r_data = response.json()

    # 응답 선택, 값이 없으면 none
    selected_data = {
        'movieCd': r_data['movieInfoResult']['movieInfo'].get('movieCd', None),
        'movieNm': r_data['movieInfoResult']['movieInfo'].get('movieNm', None),
        'showTm': r_data['movieInfoResult']['movieInfo'].get('showTm', None),
        'prdtYear': r_data['movieInfoResult']['movieInfo'].get('prdtYear', None),
        'openDt': r_data['movieInfoResult']['movieInfo'].get('openDt', None),
        'prdtStatNm': r_data['movieInfoResult']['movieInfo'].get('prdtStatNm', None),
        'typeNm': r_data['movieInfoResult']['movieInfo'].get('typeNm', None),
        'nationNm': r_data['movieInfoResult']['movieInfo']['nations'][0].get('nationNm', None),
        'genreNm': r_data['movieInfoResult']['movieInfo']['genres'][0].get('genreNm', None) if r_data['movieInfoResult']['movieInfo']['genres'] else None,
        'director': r_data['movieInfoResult']['movieInfo']['directors'][0].get('peopleNm', None) if r_data['movieInfoResult']['movieInfo']['directors'] else None,
        'actor': ', '.join(actor['peopleNm'] for actor in r_data['movieInfoResult']['movieInfo']['actors']) if r_data['movieInfoResult']['movieInfo']['actors'] else None,
        'showTypeGroupNm': ', '.join(stype['showTypeGroupNm'] for stype in r_data['movieInfoResult']['movieInfo'].get('showTypes', [])) if r_data['movieInfoResult']['movieInfo'].get('showTypes') else None,
        'showTypeNm': ', '.join(stype['showTypeNm'] for stype in r_data['movieInfoResult']['movieInfo'].get('showTypes', [])) if r_data['movieInfoResult']['movieInfo'].get('showTypes') else None,
        'audits': ', '.join(audit['watchGradeNm'] for audit in r_data['movieInfoResult']['movieInfo'].get('audits', [])) if r_data['movieInfoResult']['movieInfo'].get('audits') else None,
        
    }

    info_df = pd.DataFrame([selected_data])
    info_dfs.append(info_df)


total_info_df = pd.concat(info_dfs, ignore_index=True)
total_info_df.head()

,movieCd,movieNm,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genreNm,director,actor,showTypeGroupNm,showTypeNm,audits
0,20192206,백두산,128,2019,20191219,개봉,장편,한국,어드벤처,이해준,"이병헌, 하정우, 마동석, 전혜진, 배수지, 이상원, 옥자연, 한수현, 강신철, 이...","2D, 2D, 2D, 4D","디지털, 디지털 영문자막, 디지털 가치봄, 4D",12세이상관람가
1,20184571,천문: 하늘에 묻는다,132,2019,20191226,개봉,장편,한국,사극,허진호,"최민식, 한석규, 신구, 김홍파, 허준호, 김태우, 김원해, 임원희, 오광록, 박성...","2D, 2D","디지털, 디지털 영문자막",12세이상관람가

In [12]:
%%time
import requests

key = '75b69dc273dc0e8cef4e9cfb4736799f'
movie_codes = df['movieCd'].drop_duplicates().tolist()

info_dfs = []

for movieCd in movie_codes:
    try:
        url = f'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key={key}&movieCd={movieCd}'
        response = requests.get(url)
        r_data = response.json()

        # 필요한 필드 선택
        selected_data = {
            'movieCd': r_data['movieInfoResult']['movieInfo'].get('movieCd', None),
            'movieNm': r_data['movieInfoResult']['movieInfo'].get('movieNm', None),
            'showTm': r_data['movieInfoResult']['movieInfo'].get('showTm', None),
            'prdtYear': r_data['movieInfoResult']['movieInfo'].get('prdtYear', None),
            'openDt': r_data['movieInfoResult']['movieInfo'].get('openDt', None),
            'prdtStatNm': r_data['movieInfoResult']['movieInfo'].get('prdtStatNm', None),
            'typeNm': r_data['movieInfoResult']['movieInfo'].get('typeNm', None),
            'nationNm': r_data['movieInfoResult']['movieInfo']['nations'][0]['nationNm'] if r_data['movieInfoResult']['movieInfo'].get('nations') else None,
            'genreNm': r_data['movieInfoResult']['movieInfo']['genres'][0]['genreNm'] if r_data['movieInfoResult']['movieInfo'].get('genres') else None,
            'director': r_data['movieInfoResult']['movieInfo']['directors'][0]['peopleNm'] if r_data['movieInfoResult']['movieInfo'].get('directors') else None,
            'actor': ', '.join(actor['peopleNm'] for actor in r_data['movieInfoResult']['movieInfo'].get('actors', [])),
            'showTypeGroupNm': ', '.join(stype['showTypeGroupNm'] for stype in r_data['movieInfoResult']['movieInfo'].get('showTypes', [])) if r_data['movieInfoResult']['movieInfo'].get('showTypes') else None,
            'showTypeNm': ', '.join(stype['showTypeNm'] for stype in r_data['movieInfoResult']['movieInfo'].get('showTypes', [])) if r_data['movieInfoResult']['movieInfo'].get('showTypes') else None,
            'audits': ', '.join(audit['watchGradeNm'] for audit in r_data['movieInfoResult']['movieInfo'].get('audits', [])) if r_data['movieInfoResult']['movieInfo'].get('audits') else None
        }

        info_df = pd.DataFrame([selected_data])
        info_dfs.append(info_df)
    except Exception as e:
        print(f"Error occurred while processing movie code {movieCd}: {e}")

total_info_df = pd.concat(info_dfs, ignore_index=True)
total_info_df.head()

CPU times: user 12.3 s, sys: 2.36 s, total: 14.7 s
Wall time: 22min 33s

,movieCd,movieNm,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genreNm,director,actor,showTypeGroupNm,showTypeNm,audits
0,20192206,백두산,128,2019,20191219,개봉,장편,한국,어드벤처,이해준,"이병헌, 하정우, 마동석, 전혜진, 배수지, 이상원, 옥자연, 한수현, 강신철, 이...","2D, 2D, 2D, 4D","디지털, 디지털 영문자막, 디지털 가치봄, 4D",12세이상관람가
1,20184571,천문: 하늘에 묻는다,132,2019,20191226,개봉,장편,한국,사극,허진호,"최민식, 한석규, 신구, 김홍파, 허준호, 김태우, 김원해, 임원희, 오광록, 박성...","2D, 2D","디지털, 디지털 영문자막",12세이상관람가
2,20198414,시동,101,2019,20191218,개봉,장편,한국,드라마,최정열,"마동석, 박정민, 정해인, 염정아, 최성은, 김종수, 윤경호, 김경덕, 고두심, 박...","2D, 2D, 2D","디지털, 디지털 영문자막, 디지털 가치봄",15세이상관람가
3,20196272,미드웨이,138,2019,20191231,개봉,장편,미국,액션,롤랜드 에머리히,"에드 스크레인, 패트릭 윌슨, 우디 해럴슨, 루크 에반스, 아사노 타다노부, 닉 조나스",2D,디지털,15세이상관람가
4,20197803,겨울왕국 2,103,2019,20191121,개봉,장편,미국,애니메이션,크리스 벅,"크리스틴 벨, 이디나 멘젤, 조시 게드, 조나단 그로프","2D, 2D, 3D, 3D, 4D, 4D, IMAX, IMAX, DOLBYCINEMA","디지털, 디지털 더빙, 3D 디지털, 3D 더빙, 4D 더빙, 4D, IMAX, I...",전체관람가

In [13]:
total_info_df.to_csv('../data/boxoffice_info_15_23.csv',index = False, encoding = 'utf-8-sig')

In [14]:
total = pd.merge(df,total_info_df, on= ['movieCd','movieNm'], how = 'inner')

In [15]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15042 entries, 0 to 15041
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rnum             15042 non-null  int64
 1   rank             15042 non-null  int64
 2   rankInten        15042 non-null  int64
 3   rankOldAndNew    15042 non-null  object
 4   movieCd          15042 non-null  object
 5   movieNm          15042 non-null  object
 6   openDt_x         15042 non-null  object
 7   salesAmt         15042 non-null  int64
 8   salesShare       15042 non-null  float64
 9   salesInten       15042 non-null  int64
 10  salesChange      15042 non-null  float64
 11  salesAcc         15042 non-null  int64
 12  audiCnt          15042 non-null  int64
 13  audiInten        15042 non-null  int64
 14  audiChange       15042 non-null  float64
 15  audiAcc          15042 non-null  int64
 16  scrnCnt          15042 non-null  int64
 17  showCnt          15042 non-null  int64
 18  current_date     15042 non-null  object
 19  showTm           15042 non-null  object
 20  prdtYear         15042 non-null  object
 21  openDt_y         15042 non-null  object
 22  prdtStatNm       15042 non-null  object
 23  typeNm           15042 non-null  object
 24  nationNm         15042 non-null  object
 25  genreNm          15040 non-null  object
 26  director         14422 non-null  object
 27  actor            15042 non-null  object
 28  showTypeGroupNm  15042 non-null  object
 29  showTypeNm       15042 non-null  object
 30  audits           15001 non-null  object
dtypes: float64(3), int64(11), object(17)
memory usage: 3.7+ MB

In [16]:
total[['openDt_x','openDt_y']]

         openDt_x  openDt_y
0      2019-12-19  20191219
1      2019-12-19  20191219
2      2019-12-19  20191219
3      2019-12-19  20191219
4      2019-12-19  20191219
...           ...       ...
15037  2023-12-27  20231227
15038  2023-12-27  20231227
15039  2023-12-27  20231227
15040  2023-12-27  20231227
15041  2023-12-27  20231227

[15042 rows x 2 columns]

In [17]:
total.drop(columns = 'openDt_x', inplace = True)
total.rename(columns = {'openDt_y' : 'openDt'}, inplace = True)

In [18]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15042 entries, 0 to 15041
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rnum             15042 non-null  int64
 1   rank             15042 non-null  int64
 2   rankInten        15042 non-null  int64
 3   rankOldAndNew    15042 non-null  object
 4   movieCd          15042 non-null  object
 5   movieNm          15042 non-null  object
 6   salesAmt         15042 non-null  int64
 7   salesShare       15042 non-null  float64
 8   salesInten       15042 non-null  int64
 9   salesChange      15042 non-null  float64
 10  salesAcc         15042 non-null  int64
 11  audiCnt          15042 non-null  int64
 12  audiInten        15042 non-null  int64
 13  audiChange       15042 non-null  float64
 14  audiAcc          15042 non-null  int64
 15  scrnCnt          15042 non-null  int64
 16  showCnt          15042 non-null  int64
 17  current_date     15042 non-null  object
 18  showTm           15042 non-null  object
 19  prdtYear         15042 non-null  object
 20  openDt           15042 non-null  object
 21  prdtStatNm       15042 non-null  object
 22  typeNm           15042 non-null  object
 23  nationNm         15042 non-null  object
 24  genreNm          15040 non-null  object
 25  director         14422 non-null  object
 26  actor            15042 non-null  object
 27  showTypeGroupNm  15042 non-null  object
 28  showTypeNm       15042 non-null  object
 29  audits           15001 non-null  object
dtypes: float64(3), int64(11), object(16)
memory usage: 3.6+ MB

In [19]:
# total.to_csv('../data/boxoffice_15_23_total.csv',index = False, encoding = 'utf-8-sig')